.services-section {

    padding-left: 50px;
    padding-right: 50px;
}

.services-heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.service-item {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
    height: 400px;
    gap: 1rem;

    border-width: 5px;
    border-style: solid;
    border-image:linear-gradient(to bottom,#3f4f44,rgba(0, 0, 0, 0)) 1 100%;

    }



.service-description {
    flex: 1;
    padding-right: 100px;
    padding-left: 40px;
    line-height: 2.6;
}

.service-description h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.service-description p {

    font-size: 1.1rem;
    color: #555;
}
.service-image {
    flex: 1;
    max-width: 400px; /* Max width for images */
}

.service-image img {
    width: 100%;
    height: auto;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
}









@media (max-width: 1446px) {


    .services-section {

        padding-left: 15px;
        padding-right: 15px;
    }

    .service-item {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 30px;
        border: 1px solid #ddd;

        /*background-color: #fff; */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);/* Optional shadow for a nice effect */
    }

    .service-description {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
        line-height: 2;
    }



    .service-description h2 {
        font-size: 1.6rem;
        color: #333;
        margin-bottom: 10px;
    }

    .service-description p {
        text-align: justify;
        font-size: 1rem;
        color: #555;
    }



    .service-image img {
        max-width: 100%;
    }

    .services-heading {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 30px;
        color: #333;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }
}










.divider2-container {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}